# Admission data

- a) For a one unit in GPA, the chance of being admitted to graduate school increases by what amount?
- b) For a one unit in GRE, the chance of being admitted to graduate school increases by what amount?
- c) Having attendend an undergraduate institution with rank of 2, versus an instititution with a rank of 1, increase of admission or decrease the chance of admission and by what value?
- d) Using yorr model predict if a candidate with Rank = 3, GRE = 180 and GPA = 2.1 will get admission or not?

In [1]:
import pandas as pd

In [2]:
admission = pd.read_excel('F:\Skillenable\Data frames\Admission.xlsx')
admission.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [3]:
# take relevent rows 

admission_1 = admission[['gre', 'gpa', 'rank']]
admission_1.head()

   gre   gpa  rank
0  380  3.61     3
1  660  3.67     3
2  800  4.00     1
3  640  3.19     4
4  520  2.93     4

In [ ]:
admission_1.isnull().sum()

In [6]:
# Define input and output

Y = admission[['admit']]
X = admission_1

from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, train_size = 0.8, random_state =  1)

len(X_train), len(X_test), len(Y_train), len(Y_test)

(320, 80, 320, 80)

In [7]:
# build our model on training data.
## Create a model object

from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()

## Fit the training data for building the model

model_lr = LR.fit(X_train, Y_train)
model_lr

C:\Users\arun\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [8]:
# predicted value 

Y_test['Pred_survived'] = model_lr.predict(X_test)
Y_test

     admit  Pred_survived
398      0              0
125      0              0
328      0              0
339      1              0
172      0              0
..     ...            ...
347      0              0
41       1              0
180      0              0
132      0              0
224      0              0

[80 rows x 2 columns]

In [9]:
# creating a confusion matrix
pd.crosstab(index = Y_test['admit'], columns = Y_test['Pred_survived'], margins = True)

Pred_survived   0   1  All
admit
0              48   3   51
1              21   8   29
All            69  11   80