# Grey sloan memorial Hospital Build a classification model. The only   categorical column in the dataset is the education column, The target column is CHD chance. There are missing values in the dataset, so handle the missing values onthe data before building the model.

In [1]:
# importing libraries

import pandas as pd
import os

In [2]:
GSMH = pd.read_excel('F:\Skillenable\Data frames\Grey sloan Hospital Data.xlsx')
GSMH.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,CHD chance
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [4]:
# checking for missing values

GSMH.isnull().sum()

male                 0
age                  0
education          104
currentSmoker        0
cigsPerDay          29
BPMeds              52
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            382
CHD chance           0
dtype: int64

In [5]:
GSMH.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4235 entries, 0 to 4234
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4235 non-null   int64
 1   age              4235 non-null   int64
 2   education        4131 non-null   float64
 3   currentSmoker    4235 non-null   int64
 4   cigsPerDay       4206 non-null   float64
 5   BPMeds           4183 non-null   float64
 6   prevalentStroke  4235 non-null   int64
 7   prevalentHyp     4235 non-null   int64
 8   diabetes         4235 non-null   int64
 9   totChol          4185 non-null   float64
 10  sysBP            4235 non-null   float64
 11  diaBP            4235 non-null   float64
 12  BMI              4216 non-null   float64
 13  heartRate        4234 non-null   float64
 14  glucose          3853 non-null   float64
 15  CHD chance       4235 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 529.5 KB

In [7]:
# dropping rows with missing data
GSMH = GSMH.dropna()

In [8]:
# Define X and Y
Y = GSMH[['CHD chance']]
X = GSMH.drop(columns=['CHD chance','education'])

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, train_size = 0.8, random_state = 47)

len(X_train), len(X_test), len(Y_train), len(Y_test)

(2928, 733, 2928, 733)

## a) Use logical regression to identify the accuracy

In [12]:
# building model

from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()



model_lr = lr.fit(X_train, Y_train) # fit the model object on training data for building the model 

model_lr

C:\Users\arun\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\arun\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [16]:
# creating column for predicted values

Y_test['Pred_CHD_LR'] = model_lr.predict(X_test)
Y_test

      CHD chance  Pred_CHD_LR
2351           0            0
101            0            0
348            0            0
158            0            0
733            0            0
...          ...          ...
3369           1            0
3040           0            0
828            0            0
136            1            0
1800           0            0

[733 rows x 2 columns]

In [17]:
# Confusion matrix to check our model accuracy.

pd.crosstab(index=Y_test['CHD chance'], columns = Y_test['Pred_CHD_LR'], margins=True)

Pred_CHD_LR    0   1  All
CHD chance
0            601   6  607
1            117   9  126
All          718  15  733

In [18]:
# accuracy of model  = 83.23%

(601+9)/733

0.8321964529331515

## b) Use decision tree to identify the accuracy

In [19]:
## Build Decision tree model

from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()

## Fitting model into the training data

model = dt.fit(X_train, Y_train)

In [25]:
# performing prediction on test data to evaluate the model accuracy
Y_test['pred_CHD_DT'] = model.predict(X_test)
Y_test

      CHD chance  Pred_CHD_LR  pred_CHD_DT
2351           0            0            0
101            0            0            0
348            0            0            0
158            0            0            0
733            0            0            1
...          ...          ...          ...
3369           1            0            0
3040           0            0            0
828            0            0            0
136            1            0            0
1800           0            0            0

[733 rows x 3 columns]

In [26]:
# Confusion matrix

from sklearn.metrics import confusion_matrix, accuracy_score

confusion_matrix(Y_test['CHD chance'],Y_test['pred_CHD_DT'])

array([[512,  95],
       [ 95,  31]], dtype=int64)

In [27]:
# accuracy
accuracy = accuracy_score(Y_test['CHD chance'], Y_test['pred_CHD_DT'])

accuracy

0.7407912687585266

In [28]:
# accuracy = 73.67%