PS: survial of travellerbsed on age, gender, class of travel

In [1]:
# Import the dataset into pyhton env.

import pandas as pd
import os

os.chdir("F:\Skillenable\Data frames")
titanic = pd.read_csv("titanic.csv")

# take relevent rows 

titanic2 = titanic[['pclass', 'survived', 'sex', 'age']]
titanic2.head()

# check for missing values

titanic2.isnull().sum()

pclass        0
survived      0
sex           0
age         263
dtype: int64

In [2]:
# drop all rows with missing data

titanic3 = titanic2.dropna()
titanic3

      pclass  survived     sex   age
0          1         1  female  29.0
1          1         1    male   0.9
2          1         0  female   2.0
3          1         0    male  30.0
4          1         0  female  25.0
...      ...       ...     ...   ...
1301       3         0    male  45.5
1304       3         0  female  14.5
1306       3         0    male  26.5
1307       3         0    male  27.0
1308       3         0    male  29.0

[1046 rows x 4 columns]

In [3]:
# Create a dummy variable for text info column (sex)

titanic4 = pd.get_dummies(titanic3, columns=["sex"])
titanic4.head()

   pclass  survived   age  sex_female  sex_male
0       1         1  29.0           1         0
1       1         1   0.9           0         1
2       1         0   2.0           1         0
3       1         0  30.0           0         1
4       1         0  25.0           1         0

In [4]:
# Define our X and Y 

Y = titanic4[['survived']]
X = titanic4[['pclass', 'age', 'sex_female']] 

from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, train_size = 0.85, random_state =  1)

len(X_train), len(X_test), len(Y_train), len(Y_test)

(889, 157, 889, 157)

In [10]:
# build our model on training data.. this is a two step process

## Create a model object

from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()

## Fit the model object on training data for building the model

model_lr = LR.fit(X_train, Y_train)
model_lr

C:\Users\arun\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [12]:
# predicted value 

Y_test['Pred_survived'] = model_lr.predict(X_test)

C:\Users\arun\AppData\Local\Temp/ipykernel_5960/1846408170.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Y_test['Pred_survived'] = model_lr.predict(X_test)

In [13]:
Y_test

      survived  Pred_survived
36           1              1
1045         0              0
659          1              1
150          0              0
319          1              1
...        ...            ...
839          0              0
1065         0              0
282          1              1
260          1              1
561          0              0

[157 rows x 2 columns]

In [18]:
# creating a confusion matrix to check our model accuracy, by using our survived column and pred_survided coulumn
 
pd.crosstab(index = Y_test['survived'], columns = Y_test['Pred_survived'], margins = True)

Pred_survived   0   1  All
survived
0              77  13   90
1              13  54   67
All            90  67  157

In [19]:
# accuracy of model
(77+54)/157

0.8343949044585988